//
// Include keys file
//
include "/etc/rndc.key";

//       
// Default controls 
//       
controls {
        inet 127.0.0.1 port 953 allow {any;}
        keys { "rndc-key"; };
};

options {
    directory       "${CONF_DIR}";

    recursion no;
    allow-transfer { 127.0.0.1; };
    allow-update { 127.0.0.1; };
};

logging {
        category default {
                _default_log;
        };

        channel _default_log  {
                file "/var/log/named.log";
                severity info;
                print-time yes;
        };
};

